.about-section{
    height: calc(100vh + 3rem);
    width: 100%;
    background-image: url(/public/illustrations/about-header-bg.svg);
}

.upper-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.8rem;
    height: 45vh;
}

.lower-about{
    height: calc(55vh + 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.2rem;

}

.about-header{
    font-size: 4rem;
    color: white;
}

.header-emphasis{
    color: #F09410;
}

.about-subheader{
    display: flex;
    font-weight: 200;
    font-size: 0.65rem;
    font-style: italic;
    text-align: center;
    align-self: top;
    line-height: 0.8rem;

    width: 100%;
    padding: 1.15rem 15rem;
    background-color: #F09410;
    color: black;
}

.about-subheader-2{
    font-weight: 300;
    font-size: 0.7rem;
    margin-top: -0.7rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.basinfo-button,
.why-button,
.skillevol-button{
    width: 22%;
    aspect-ratio: 1;
    border-radius: calc(23% / 2);
    border: 5px outset #F09410;
    cursor: pointer;

    backdrop-filter: blur(8px);
    background-color: #f0931032;
}