header{
    display: flex;
    height: 5vh;
    width: 100%;
    font-size: 1rem;
    position: sticky;
    z-index: 1000;
    background-color: #b55211;
    
    top: 0;
    
    padding: 3.5vh 3vw;
    min-height: 3vh;

    
}

.header-title{
    color: white ;
    font-size: 1.3rem;
    font-family: Ubuntu, Roboto, Arial;
}

.navbar-item a{
    color: white;
    text-decoration: none;
}

.navbar-item a:hover{
    color: black;
    transition: color 0.175s;
}

@media (max-width: 1024px){
    .specialization,
    .header-title{
        opacity: 0;
    }

    .menu-button{
        background-color: transparent;
        border: none;
    }

    .menu-icon{
        width: 28px;
    }

    .navbar-menu{
        display: none;
    }

    .left-header{
        width: 80vw;
        display: flex;
        align-items: center;
    }

    .right-header{
        display: flex;
        width: 20vw;
        justify-content: center;
        align-items: center;
    }

    .header-title{
        display: flex;
        opacity: 1;
        align-items: center;
    }
}

@media (min-width: 1024px){
    header{
        width: 90%;
        height: 5vh;
        border-radius: 50px;
        margin: 0.8rem auto 0 auto;
    
        position: sticky;
        top: 0rem;
        left: 1.5rem;
        right: 1.5rem;
        
        backdrop-filter: blur(10px);
        background-color: rgba(181, 82, 17, 0.80);
    }

    .left-header{
        display: flex;
        width: 35vw;
        align-items: center;
        min-width: max-content;
    }


    .right-header{
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        flex-shrink: 0;
    }

    .navbar-menu{
        list-style: none;
        display: flex;
        flex: 1;
        align-items: center;
        min-width: max-content;
        justify-content: right;
        gap: 75px;
        padding-left: 5rem;
    }

    .navbar-item{
        font-size: 0.85rem;
        font-weight: 500;
    }

    .specialization,
    .header-title{
        font-size: 0.85em;
    }

    .specialization{
        font-weight: 300;
        padding-right: 20px;
        opacity: 1;
        color: white;
    }

    .menu-button{
        display: none;
    }

}